<div class="container-fluid">
    <div class="container">
        <h4>{{app}}</h4>

        <ui-alert title="Ops, aconteceu um problema!">
            Não foi possivel carregar os dados!
        </ui-alert>

        <input ng-model="criterioDeBusca" class="form-control" type="text" placeholder="O que você está buscando?">

        <table ng-show="names.length > 0" class="table">
            <tr>
                <th></th>
                <th>Serial</th>
                <th><a ng-click="ordenarPor('nome')" href="#">Nome</a></th>
                <th><a ng-click="ordenarPor('telefone')" href="#">Telefone</a></th>
                <th>Operadora</th>
                <th>Data</th>
            </tr>
            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="x in names | filter:{Nome: criterioDeBusca} | orderBy: criterioDeOrdenacao:direcaoDeOrdenacao">
                <th><input ng-model="contato.selecionado" type="checkbox"></th>
                <td>{{x.serial}}</td>
                <td><a href="#/detalhesContato/{{contato.id}}">{{x.Nome | name}}</a></td>
                <td>{{x.Telefone}}</td>
                <td>{{x.Operadora | lowercase}}</td>
                <td>{{x.Data | date:'dd/MM/yyyy'}}</td>
            </tr>
        </table>

        <hr>

        <a class="btn btn-primary btn-block" href="#/formulario">Novo Contato</a>
        <button ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)" class="btn btn-danger btn-block" type="button">Apagar Contatos</button>
    </div>
</div>
